[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/projects/skarbek.dev/web-server
WorkingDirectory=/home/pi/projects/skarbek.dev

[Install]
WantedBy=multi-user.target
